<script id="check_question_list_template" type="text/template">
    <div class="page-header">
        <h1>
            <%= title %>
            <small>Token: #<%=token%></small>
        </h1>
    </div>
    <table class="table" id="check">
        <thead>
        <tr>
            <th>#</th>
            <th>Pytanie/Odpowiedź</th>
            <th>Punkty</th>
        </tr>
        </thead>

    </table>
<a class="btn btn-success pull-right mLeft10">Zatwierdź punktację</a>
    <script>
        $(document).ready(function () {
            $('tbody').each(function(idx){
                $(this).children().children().first().html(idx + 1);
            });

        });
</script>
</script>
