<script id="checked_list_template" type="text/template">
    <div class="page-header">
        <h1><%= title %>
            <small></small>
        </h1>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th class="small">#</th>
            <th>token</th>
            <th class="middle">data przeprowadzenia</th>
            <th class="middle">uzyskane punkty</th>
            <th class="small">ocena</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('tbody tr').each(function(idx){
                $(this).children().first().html(idx + 1);
            });
        });
</script>
</script>