<script id="exam_menu_template" type="text/template">
    <div class="page-header">
        <h1>Menu
            <small>egzamin</small>
        </h1>
    </div>
    <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
        <li class="active"><a>Dane podstawowe</a></li>
        <li><a class="exam_questions">Pytania</a></li>
        <li><a class="exam_tokens">Generuj tokeny</a></li>
        <li><a class="exam_activation.html">Przeprowadź egzamin</a></li>
        <li><a class="exam_check.html">Sprawdź egzamin</a></li>
        <li><a class="btn btn-default back-button">Powrót do menu głównego</a></li>
    </ul>
    <script>
        $('.nav li a').click(function () {
            $('.nav li.active').removeClass('active');
            $(this).parent().addClass('active');
        });
    </script>
</script>