<script id="add_exam_template" type="text/template">

    <div class="tab-pane" id="add_exam">
        <div class="page-header">
            <h1>Stwórz egzamin</h1>
        </div>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">Nazwa</label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" id="input1" placeholder="Nazwa">
                </div>
            </div>
            <div class="form-group">
                <label for="input2" class="col-sm-2 control-label">Przedmiot</label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" id="input2" placeholder="Przedmiot">
                </div>
            </div>
            <div class="form-group">
                <label for="input3" class="col-sm-2 control-label">Data</label>

                <div class="col-sm-3">
                    <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                        <input class="form-control span2" size="16" type="text" placeholder="12-02-2012">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Dodaj egzamin</button>
                </div>
            </div>
        </form>
    </div>

</script>