<script id="add_exam_template" type="text/template">
    <div class="tab-pane" id="add_exam">
        <div class="page-header">
            <h1>Stwórz egzamin</h1>
        </div>
        <form class="form-horizontal" role="form" action="">
            <div class="form-group">
                <label for="input1" class="col-sm-3 control-label">Tytuł</label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" id="title">
                </div>
            </div>
            <div class="form-group">
                <label for="input3" class="col-sm-3 control-label">Data</label>

                <div class="date form_datetime col-md-5" data-date-format="yyyy-mm-dd HH:ii" data-link-field="dtp_input1">
                    <input type="text" class="form-control" id="date" data-original-title="" title="">
                </div>
            </div>
            <div class="form-group">
                <label for="input2" class="col-sm-3 control-label">Liczba studentów</label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" id="numberOfStudents">
                </div>
            </div>

            <div class="form-group">
                <label for="input2" class="col-sm-3 control-label">Czas trwania</label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" id="duration">
                </div>
            </div>

            <div class="form-group">
                <label for="input2" class="col-sm-3 control-label">Status</label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" id="status">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <button type="submit" class="btn btn-default">Dodaj egzamin</button>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(function() {
            if($('.datetimepicker').length > 0) {
                $('.datetimepicker').remove();
            }

            $('#date').datetimepicker({
                language:  'pl',
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
            });
        });
    </script>
</script>