<script id="examlist_template" type="text/template">
    <div class="page-header">
        <h1>Aktualne egzaminy
            <small></small>
        </h1>
    </div>

    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        Aby edytować egzamin <strong>kliknij na jego nazwę</strong>.
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th class="small">#</th>
            <th>Tytuł</th>
            <th>Data</th>
            <th>Liczba studentów</th>
            <th>Czas trwania</th>
            <th>Status</th>
            <th>Opcje</th>
        </tr>
        </thead>
        <tbody>
        <!-- place to insert table -->
        </tbody>
    </table>

    <div class="text-center paginator"></div>
</script>