<script id="examiner_view_template" type="text/template">

    <div class="tab-pane" id="add_exam">
        <div class="page-header">
            <h1>Dane egzaminatora</h1>
        </div>
        <div class="col-xs-6 exam_data_left">
            <ul class="list-group">
                <li class="list-group-item active">
                    Dane osobowe
                </li>
                <li class="list-group-item">
                    <span class="badge"><%= user.firstname %></span>
                    Imię
                </li>
                <li class="list-group-item">
                    <span class="badge"><%= user.lastname %></span>
                    Nazwisko
                </li>
                <li class="list-group-item">
                    <span class="badge"><%= user.email %></span>
                    E-mail
                </li>
            </ul>
        </div>
        <div class="col-xs-6 exam_data_right">
            <ul class="list-group">
                <li class="list-group-item active">
                    Dane konta
                </li>
                <li class="list-group-item">
                    <span class="badge"><%= user.username %></span>
                    Login
                </li>
                <li class="list-group-item">
                    <span class="badge">zablokowane</span>
                    Hasło
                </li>
                <li class="list-group-item">
                    <span class="badge"><%= formattedCreate %></span>
                    Data utworzenia
                </li>
            </ul>
        </div>

    </div>
    <a class="btn btn-danger pull-right mLeft10">Usuń egzaminatora</a>
    <a id="edit" class="btn btn-warning pull-right mLeft10">Edytuj dane</a>


</script>