<script id="examinerlist_template" type="text/template">

    <div class="page-header">
        <h1>Lista egzaminatorów
        </h1>
    </div>
    <div class="btn-group btn-group-justified">
        <a class="btn btn-default">Edytuj zaznaczony</a> <a
            class="btn btn-default">Usuń zaznaczone</a>
    </div>
    <hr/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="small"></th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Login</th>
            <th>Hasło</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>


        </tbody>
    </table>

</script>