<script id="examlist_template" type="text/template">
    <div class="page-header">
        <h1>Aktualne egzaminy
            <small></small>
        </h1>
    </div>

    <div id="1" class="alert alert-info alert-dismissable">
        <button type="button" id="button_exam_list1" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        Aby edytować egzamin <strong>kliknij na jego nazwę</strong>.
    </div>
    <a class="btn btn-success pull-right exam_add mBottom25">Dodaj egzamin</a>
    <table class="table table-striped" style="border-top: 1px solid #eee">
        <thead>
        <tr>
            <th class="small">#</th>
            <th>Tytuł</th>
            <th>Data</th>
            <th>Liczba studentów</th>
            <th>Czas trwania</th>
            <th>Progi ocen</th>
            <th>Status</th>

        </tr>
        </thead>
        <tbody>
        <!-- place to insert table -->
        </tbody>
    </table>

    <div class="text-center paginator"></div>
    <script>
        $(document).ready(function () {
            hide_clouds();

            $('.ready').tooltip({
                title: 'gotowy',
                placement: 'right'
            });
            $('.activated').tooltip({
                title: 'aktywny',
                placement: 'right'
            });

        });
    </script>
</script>
