<script id="add_exam_template" type="text/template">

    <div class="tab-pane" id="add_exam">
        <div class="page-header">
            <h1>Edycja egzaminatora</h1>
        </div>
        <form class="form-horizontal" role="form" action="" id="edit_examiner">
            <div class="form-group">
                <label for="input1" class="col-sm-3 control-label">Imię</label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" id="firstname" value="<%=user.firstname%>">
                </div>
            </div>
            <div class="form-group">
                <label for="input2" class="col-sm-3 control-label">Nazwisko</label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" id="lastname" value="<%=user.lastname%>">
                </div>
            </div>
            <div class="form-group">
                <label for="input3" class="col-sm-3 control-label">Nazwa użytkownika</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="username" value="<%=user.username%>">
                </div>
            </div>
            <div class="form-group">
                <label for="input4" class="col-sm-3 control-label">Hasło</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="password" value="<%=user.password%>">
                </div>
            </div>
            <div class="form-group">
                <label for="input5" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="email" value="<%=user.email%>">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <button type="submit" class="btn btn-default">Zapisz zmiany</button>
                    <button id="cancel" class="btn btn-default">Anuluj</button>
                </div>
            </div>
        </form>
    </div>
</script>