<script id="examlist_template" type="text/template">

    <div class="page-header">
        <h1>Aktualne egzaminy
            <small></small>
        </h1>
    </div>
    <div class="btn-group btn-group-justified">
        <a class="btn btn-default">Edytuj zaznaczony</a> <a
            class="btn btn-default">Usuń zaznaczone</a> <a
            class="btn btn-default">Generuj tokeny</a> <a
            class="btn btn-default">Uaktywnij zaznaczony</a> <a
            class="btn btn-default">Zakończ zaznaczony</a>
    </div>
    <hr/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="small"></th>
            <th>#</th>
            <th>Nazwa</th>
            <th>Przedmiot</th>
            <th>Data</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span class="glyphicon glyphicon-unchecked"></span></td>
            <td>1</td>
            <td>Algorytm Lai-Yanga</td>
            <td>Przetwarzanie rozproszone</td>
            <td>01.01.01</td>
            <td><span class="glyphicon glyphicon-pencil"></span></td>
        </tr>
        <tr>
            <td><span class="glyphicon glyphicon-unchecked"></span></td>
            <td>2</td>
            <td>Sygnały - poprawka 3</td>
            <td>Systemy wbudowane</td>
            <td>02.02.02</td>
            <td><span class="glyphicon glyphicon-list-alt"></span></td>
        </tr>
        <tr>
            <td><span class="glyphicon glyphicon-unchecked"></span></td>
            <td>3</td>
            <td>Egzamin komisyjny</td>
            <td>Elementy analizy numerycznej</td>
            <td>03.03.03</td>
            <td><span class="glyphicon glyphicon-list-alt"></span></td>
        </tr>
        </tbody>
    </table>

</script>