<script id="exam_view_template" type="text/template">
    <div class="page-header">
        <h1><%= title %>
            <small></small>
        </h1>
    </div>
    <div class="col-xs-6 exam_data_left">
        <ul class="list-group">
            <li class="list-group-item active">
                Przeprowadzenie egzaminu
            </li>
            <li class="list-group-item">
                <span class="badge"><%= date %></span>
                Data
            </li>
            <li class="list-group-item">
                <span class="badge">--:--</span>
                Godzina
            </li>
            <li class="list-group-item">
                <span class="badge">-</span>
                Sala
            </li>
            <li class="list-group-item">
                <span class="badge"><%= duration%> min.</span>
                Czas trwania
            </li>
        </ul>
    </div>

    <div class="col-xs-6 exam_data_right">
        <ul class="list-group">
            <li class="list-group-item active">
                Treść egzaminu
            </li>
            <li class="list-group-item">
                <span class="badge">0</span>
                Ilość stworzonych pytań
            </li>
            <li class="list-group-item">
                <span class="badge">0</span>
                Ilość pytań w pojedynczej instancji egzaminu
            </li>
            <li class="list-group-item">
                <span class="badge">0</span>
                Ilość różnych instancji
            </li>
            <li class="list-group-item">
                <span class="badge">0</span>
                Ilość punktów do zdobycia
            </li>
        </ul>
    </div>
    <a class="btn btn-danger pull-right mLeft10">Usuń egzamin</a>
    <a class="btn btn-warning pull-right">Edytuj dane</a>
</script>