<script id="add_examiner_template" type="text/template">

    <div class="tab-pane" id="add_exam">
        <div class="page-header">
            <h1>Dodaj egzaminatora</h1>
        </div>
        <form class="form-horizontal" action="" id="add_examiner">
            <div class="form-group">
                <label for="firstname" class="col-sm-3 control-label">Imię</label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" id="firstname">
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-sm-3 control-label">Nazwisko</label>

                <div class="col-sm-5">
                    <input type="text" class="form-control" id="lastname">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="email">
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-3 control-label">Nazwa użytkownika</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="username">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Hasło</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="password">
                </div>
            </div>
            <div class="form-group">
                <label for="confirm_password" class="col-sm-3 control-label">Potwierdź hasło</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="confirm_password">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <button type="submit" class="btn btn-default">Dodaj egzaminatora</button>
                </div>
            </div>
        </form>
    </div>

</script>