<script id="examlist_template" type="text/template">

    <div class="page-header">
        <h1>Aktualne egzaminy
            <small></small>
        </h1>
    </div>
    <div class="btn-group btn-group-justified">
        <a class="btn btn-default">Edytuj zaznaczony</a>
        <a class="btn btn-default">Usuń zaznaczone</a>
        <a class="btn btn-default">Generuj tokeny</a>
        <a class="btn btn-default">Uaktywnij zaznaczony</a>
        <a class="btn btn-default">Zakończ zaznaczony</a>
    </div>
    <hr/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="small"></th>
            <th>Tytuł</th>
            <th>Data</th>
            <th>Liczba studentów</th>
            <th>Czas trwania</th>
            <th>Status</th>
            <th>Opcje</th>
        </tr>
        </thead>
        <tbody>
            <!-- place to insert table -->
        </tbody>
    </table>

</script>