<script id="login_template" type="text/template">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Teleegzamin</a>
            </div>
        </div>
    </nav>

    <div id="content" class="container">
        <div class="page-header">
            <h1>Witaj użytkowniku!</h1>

            <p>
                Celem systemu Teleegzamin jest ułatwienie tworzenia, przeprowadzania oraz sprawdzania egzaminów.
                System ma ułatwić tworzenia egzaminów z pytaniami zarówno w formie zamkniętej jak i otwartej,
                co umożliwi egzaminującym szybszą pracę. Ma także umożliwić zdającym sprawdzanie swojej wiedzy
                w szybki i nowoczesny sposób.
            </p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <h1>Egzaminator</h1>
                    <hr/>
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Hasło</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Zapamiętaj mnie
                            </label>
                        </div>
                        <a href="#exams" class="btn btn-primary">Zaloguj się</a>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <h1>Student</h1>
                    <hr/>
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Kod dostępu</label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <a href="#exams" class="btn btn-primary">Zaloguj się</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>