<script id="question_add_template" type="text/template">

    <div class="page-header">
        <h1><%= title %>
            <small></small>
        </h1>
    </div>
    <div id="1" class="alert alert-info alert-dismissable">
        <button type="button" id="button_question_add1" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        Aby pytanie stało się <strong>zamknięte</strong> muszą pojawić się co najmniej dwie odpowiedzi. Liczba
        wypełnionych pól to liczba wariontów. Każda zaznaczona odpowiedź po lewej stronie jest prawidłową. Jeżeli
        pytanie ma być <strong>otwarte</strong> pozostaw pola odpowiedzi puste.
    </div>
    <iframe id="hidden-iframe" style="display: none"></iframe>
    <form class="form-horizontal" role="form" target="hidden-iframe" action="/questions/file/add" method="POST"
          enctype="multipart/form-data">

        <div class="form-group">
            <label for="content" class="col-sm-2 control-label">
                Treść pytania
            </label>

            <div class="col-sm-5">
                <textarea class="form-control" rows="3" id="content" name="content"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="maxoints" class="col-sm-2 control-label">
                Ilość punktów
            </label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="maxPoints" name="maxPoints">
            </div>
        </div>
        <div id="2" class="alert alert-success alert-dismissable">
            <button type="button" id="button_question_add2" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            Jeżeli pytanie ma być typu zamkniętego - dodaj odpowiedzi. O tym czy odpowiedź jest poprawna decyduje zaznaczenie pola w pierwszej kolumnie odpowiedzi. Kolejność odpowiedzi nie ma znaczenia, ponieważ
            podczas tworzenia instancji egzaminu system ją losuje.
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">
                Odpowiedzi</label>

            <div class="col-sm-5">
                <div class="answers"></div>
                <a class="btn btn-success addClosedAnswer">Dodaj odpowiedź</a>
            </div>
        </div>
        <div id="3" class="alert alert-warning alert-dismissable">
            <button type="button" id="button_question_add3" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            Jeżeli chcesz użyć w zadaniu obrazu kliknij - dodaj obraz.
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">
                Obraz</label>

            <div class="fileinput fileinput-new col-sm-5" data-provides="fileinput">

                <div class="fileinput-preview fileinput-exists thumbnail"
                     style="max-width: 200px; max-height: 150px;"></div>
                <div class="error"></div>
                <div>
                    <span class="btn btn-warning btn-file"><span class="fileinput-new">Dodaj obrazek</span>
                    <span class="fileinput-exists">Zmień</span><input type="file" id="myFile" name="image"></span>
                    <a class="btn btn-warning fileinput-exists" data-dismiss="fileinput">Usuń</a>
                    <a class="btn btn-warning fileinput-exists drawCheck">Włącz rysowanie</a>
                </div>
            </div>
        </div>
        <div id="4" class="alert alert-info alert-dismissable">
            <button type="button" id="button_question_add4" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            Sprawdź poprawność danych i kliknij zatwierdź pytanie
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-info" value="Zatwierdź pytanie">

            </div>
        </div>
    </form>
    <br/><br/>
    </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.drawCheck').click(function () {
                if ($(this).hasClass('btn-warning')) {
                    $(this).removeClass("btn-warning");
                    $(this).addClass("btn-success");
                    $(this).html("Wyłącz rysowanie");
                }
                else {
                    $(this).removeClass("btn-success");
                    $(this).addClass("btn-warning");
                    $(this).html("Włącz rysowanie");
                }
            })

            $(".addClosedAnswer").click(function () {
                $(".answers").append('<div class="input-group answer"><span class="input-group-addon"><input type="checkbox"></span><input type="text" class="form-control"><span class="input-group-addon"><a class="removeClosedAnswer" onclick="$(this).closest(\'.input-group\').remove();"><div class="glyphicon glyphicon-remove"></div></a></span></div>');
            });
            hide_clouds();
        });
    </script>
</script>
