<script id="student_image_answer_template" type="text/template">
    <h3>Ilustracja:</h3>

    <img class="draw dimage" src=<%=imageName%>>
    <canvas id="draw"></canvas>
    <div class="progress progress-striped">
        <div class="bar" style="width: 0%"></div>
    </div>
    <button id="margin" class="btn btn-info clear">Wyczyść zaznaczenie</button>
    <script>

        (function () {
            var canvas = document.querySelector('#draw');
            var image = document.querySelector('.dimage');
            var button = document.querySelector('.clear');
            var margin = document.querySelector('#margin');

            var ctx = canvas.getContext('2d');
            ctx.lineWidth = 5;
            ctx.lineJoin = 'round';
            ctx.lineCap = 'round';
            ctx.strokeStyle = 'red';

            var imgStyle = getComputedStyle(image);
            var mouse = {x: 0, y: 0};
            var el = canvas, pos = {x: 0, y: 0};



            $('document').ready(function(){
                $(".bar").css("width",'10%');
                function progressBar(widthBar)
                {
                    setTimeout(function () {

                        $(".bar").css("width", widthBar + '%');
                        if(widthBar != 110)
                            progressBar(widthBar + 10);
                        else
                        {

                            canvas.width = parseInt(imgStyle.getPropertyValue('width'));
                            canvas.height = parseInt(imgStyle.getPropertyValue('height'));
                            image.style.marginLeft = (-0.5 * canvas.width ) + 'px';
                            canvas.style.marginLeft = (-0.5 * canvas.width ) + 'px';
                            margin.style.marginTop = (canvas.height + 20) + 'px';
                            canvas.style.opacity = 0;
                            while (el) {
                                pos.x += el.offsetLeft;
                                pos.y += el.offsetTop;
                                el = el.offsetParent;
                            }

                            var saveImg = new Image();
                            saveImg.src = "<%=saveImage%>";
                            saveImg.onload = function () {
                                ctx.drawImage(saveImg, 0, 0);
                            };
                            $(".progress").fadeOut(function(){
                                image.style.opacity = 1;
                                button.style.opacity = 1;
                                canvas.style.opacity = 1;
                            });

                        }

                    }, 80);
                }
                progressBar(10)
            });

            canvas.addEventListener('mousemove', function (e) {
                mouse.x = e.pageX - pos.x;
                mouse.y = e.pageY - pos.y;
            }, false);

            canvas.addEventListener('mousedown', function (e) {
                ctx.beginPath();
                ctx.moveTo(mouse.x, mouse.y);

                canvas.addEventListener('mousemove', onPaint, false);
            }, false);

            canvas.addEventListener('mouseup', function () {
                canvas.removeEventListener('mousemove', onPaint, false);
            }, false);

            document.querySelector('.clear').addEventListener('click', function () {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
            }, false);

            var onPaint = function () {
                ctx.lineTo(mouse.x, mouse.y);
                ctx.stroke();
                //console.log("PAINT >> " + (mouse.x-this.offsetLeft) + " " + (mouse.y-this.offsetTop))
            };

        }());

</script>
</script>