<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Teleegzamin</title>

    <!-- stylesheets -->
    <link href="stylesheets/jasny-bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/style.css" rel="stylesheet" media="screen">
    <link href="stylesheets/print.css" rel="stylesheet" media="print">
    <link href="stylesheets/bootstrap.css" rel="stylesheet" media="screen">

    <!-- libs -->
    <script src="/javascripts/libs/jquery.min.js"></script>
    <script src="/javascripts/libs/jquery.cookie.js"></script>
    <script src="/javascripts/libs/jquery.transloadit.js"></script>
    <script src="/javascripts/libs/json2.js"></script>
    <script src="/javascripts/libs/underscore.min.js"></script>
    <script src="/javascripts/libs/backbone.min.js"></script>
    <script src="/javascripts/libs/backbone.marionette.min.js"></script>
    <script src="/javascripts/libs/backbone.pageable.min.js"></script>
    <script src="/javascripts/libs/jasny-bootstrap.min.js"></script>
    <script src="/javascripts/libs/bootstrap.min.js"></script>
    <script src="/javascripts/libs/bootstrap-datetimepicker.min.js"></script>
    <script src="/javascripts/libs/bootstrap-datetimepicker.pl.js"></script>
    <script src="/javascripts/libs/notify.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>


    <!-- general -->
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/app.js"></script>

    <!-- utilities -->
    <script src="/javascripts/utilities/validation.js"></script>
    <script src="/javascripts/utilities/pagination.js"></script>
    <script src="/javascripts/utilities/clouds.js"></script>
    <script src="/javascripts/utilities/createHash.js"></script>

    <!-- layouts -->
    <script src="/javascripts/layouts/dashboard.js"></script>
    <script src="/javascripts/layouts/student.js"></script>

    <!-- controllers -->
    <script src="/javascripts/controllers/login.js"></script>
    <script src="/javascripts/controllers/exam.js"></script>
    <script src="/javascripts/controllers/examiner.js"></script>
    <script src="/javascripts/controllers/token.js"></script>
    <script src="/javascripts/controllers/question.js"></script>
    <script src="/javascripts/controllers/student.js"></script>
    <script src="/javascripts/controllers/check.js"></script>
    <!-- router -->
    <script src="/javascripts/router.js"></script>

    <!-- models -->
    <script src="/javascripts/models/exam.js"></script>
    <script src="/javascripts/models/question.js"></script>
    <script src="/javascripts/models/question_answer.js"></script>
    <script src="/javascripts/models/examiner.js"></script>
    <script src="/javascripts/models/user.js"></script>
    <script src="/javascripts/models/token.js"></script>
    <script src="/javascripts/models/answer.js"></script>

    <!-- collections -->
    <script src="/javascripts/collections/exams.js"></script>
    <script src="/javascripts/collections/questions.js"></script>
    <script src="/javascripts/collections/question_answers.js"></script>
    <script src="/javascripts/collections/examiners.js"></script>
    <script src="/javascripts/collections/tokens.js"></script>
    <script src="/javascripts/collections/answers.js"></script>

    <!-- views -->
    <script src="/javascripts/views/login.js"></script>
    <script src="/javascripts/views/dashboard_menu.js"></script>
    <script src="/javascripts/views/menu_admin.js"></script>
    <script src="/javascripts/views/exam/item.js"></script>
    <script src="/javascripts/views/exam/list.js"></script>
    <script src="/javascripts/views/exam/add.js"></script>
    <script src="/javascripts/views/exam/view.js"></script>
    <script src="/javascripts/views/exam/menu.js"></script>
    <script src="/javascripts/views/exam/edit.js"></script>
    <script src="/javascripts/views/header.js"></script>
    <script src="/javascripts/views/examiner/item.js"></script>
    <script src="/javascripts/views/examiner/list.js"></script>
    <script src="/javascripts/views/examiner/add.js"></script>
    <script src="/javascripts/views/examiner/view.js"></script>
    <script src="/javascripts/views/examiner/menu.js"></script>
    <script src="/javascripts/views/examiner/edit.js"></script>
    <script src="/javascripts/views/question/item.js"></script>
    <script src="/javascripts/views/question/list.js"></script>
    <script src="/javascripts/views/question/add.js"></script>
    <script src="/javascripts/views/question/view.js"></script>
    <script src="/javascripts/views/question/edit.js"></script>
    <script src="/javascripts/views/question/answer_item.js"></script>
    <script src="/javascripts/views/question/answer_list.js"></script>
    <script src="/javascripts/views/question/answer_input.js"></script>
    <script src="/javascripts/views/question/answer_edit.js"></script>
    <script src="/javascripts/views/token/item.js"></script>
    <script src="/javascripts/views/token/list.js"></script>
    <script src="/javascripts/views/student/start.js"></script>
    <script src="/javascripts/views/student/exam.js"></script>
    <script src="/javascripts/views/student/question.js"></script>
    <script src="/javascripts/views/student/open_answer.js"></script>
    <script src="/javascripts/views/student/check_answer.js"></script>
    <script src="/javascripts/views/student/check_answer_list.js"></script>
    <script src="/javascripts/views/student/image_answer.js"></script>
    <script src="/javascripts/views/student/upload.js"></script>
    <script src="/javascripts/views/student/upload_list.js"></script>
    <script src="/javascripts/views/check/item.js"></script>
    <script src="/javascripts/views/check/list.js"></script>
    <script src="/javascripts/views/check/question_item.js"></script>
    <script src="/javascripts/views/check/question_list.js"></script>
    <script src="/javascripts/views/check/answer_item.js"></script>
    <script src="/javascripts/views/check/answer_list.js"></script>
    <script src="/javascripts/views/check/checked_item.js"></script>
    <script src="/javascripts/views/check/checked_list.js"></script>

    <script>
        App.init();


    </script>

</head>

<body>
<div id="main-content"></div>

</body>

</html>