<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Teleegzamin</title>

    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/datepicker.css" rel="stylesheet" media="screen">
    <link href="stylesheets/style.css" rel="stylesheet" media="screen">

</head>

<body>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Teleegzamin</a>
        </div>
    </div>
</nav>

<div id="content" class="container"></div>

</body>

<!-- libs -->
<script src="/javascripts/libs/jquery.min.js"></script>
<script src="/javascripts/libs/underscore.min.js"></script>
<script src="/javascripts/libs/backbone.min.js"></script>

<!-- general -->
<script src="/javascripts/main.js"></script>

<!-- models -->
<script src="/javascripts/models/exam.js"></script>

<!-- views -->
<script src="/javascripts/views/index.js"></script>
<script src="/javascripts/views/exam.js"></script>

<script>
    new App.Router;
    Backbone.history.start();
</script>

</html>