body {font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;}
td, th{text-align:center;}
th {cursor: pointer;}
th.small {width: 50px;}
th.middle {width: 200px;}
.nav hr {margin: 0  0 5px 0;}
.nav h4 {margin: 20px 0 5px 0;}
a {color: #00b7ff; cursor: pointer}
form{margin-top:30px;}
.input-group { margin-bottom: 5px;}
.exam_data_left {padding-left:0; margin-left:0}
.exam_data_right {padding-right:0; margin-right:0}
.back-button {text-align: left; margin-top:30px;}
.mLeft10 {margin-left:10px;}
.mBottom25 {margin-bottom:25px;}
.mBottom70 {margin-bottom:70px;}
.leftAnswers li, .rightAnswers li {border-radius: 0; border: 0;}
.leftAnswers, .rightAnswers{width:50%}
.leftAnswers ul, .rightAnswers ul, .leftTitle, .rightTitle{margin:0; padding:0}
.list-group-item {border-radius: 0; border: 0; margin-bottom:1px}
.redItem {background: #ffe8ea}
.greenItem {background: #e6ffd3}
.blueItem {background: #fffbd8}
#checksumModal
{
    overflow-y: hidden;
}
.modal-dialog
{
    width:400px;
    margin: 0 0 0 -200px;
}
canvas,.draw{cursor: crosshair;position: absolute;left:50%; max-width: 500px;}
.drawAnswer {position: relative; max-width: 300px; left: 150px;}
.canvasAnswer {position: relative; max-width: 300px; left: -150px;}
#margin {margin-bottom: 30px;}
.draw {opacity: 0}
.logout {color: #00b7ff}

.paginator .btn-group {margin: 20px 0; float: left}
.space {clear: both; margin-top: 20px;}
.required {margin-right: -9px;}

.red {color: #d9534f;}

.red_bg {background-color: #d9534f;}
.green_bg {background-color: #5cb85c;}