body {font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;}
td, th{text-align:center;}
th.small {width: 50px;}
th.middle {width: 200px;}
.nav hr {margin: 0  0 5px 0;}
.nav h4 {margin: 20px 0 5px 0;}
a {color: #00b7ff; cursor: pointer}
form{margin-top:30px;}
.input-group { margin-bottom: 5px;}
.exam_data_left {padding-left:0; margin-left:0}
.exam_data_right {padding-right:0; margin-right:0}
.back-button {text-align: left; margin-top:30px;}
.mLeft10 {margin-left:10px;}
.mBottom25 {margin-bottom:25px;}
.leftAnswers li, .rightAnswers li {border-radius: 0; border: 0;}
.leftAnswers, .rightAnswers{width:50%}
.leftAnswers ul, .rightAnswers ul, .leftTitle, .rightTitle{margin:0; padding:0}
.closedAnswer {color: blue}